스텝1

In [1]:
print(3)

3

In [8]:
#변수의 값을 할당  #주석은 ctrl + /
age = 25
height = 175
name = "김애진"
is_student = True

print('나이는', age, '입니다')
print('\n키는', height)
print('\n이름은', name)
print('\n학생여부', is_student)

print('\nage의 타입은', type(age))
print('\nheight의 타입은', type(height))
print('\nname의 타입은', type(name))
print('\nis_student의 타입은', type(is_student))

나이는 25 입니다

키는 175

이름은 김애진

학생여부 True

age의 타입은 <class 'int'>

height의 타입은 <class 'int'>

name의 타입은 <class 'str'>

is_student의 타입은 <class 'bool'>

In [13]:
print(int(True))

1

In [14]:
print(int(False))

0

In [16]:
#산술연산자
a = 17
b = 5
print(a+b)

22

In [18]:
a = 17
b = 5
print(f'{a} + {b} = {22}')

17 + 5 = 22

In [22]:
text = "Python"
text[0]

'P'

In [ ]:
text = "Hello, Python!"
text[0:5]

'Hello'

In [ ]:
#t실습문제1
#변수선언
score = 90
temperature = 1.2
city = "서울"
is_raining = False

#type() 자료형 만들기
print(f"score = {score}, 자료형: {type(score)}")
print(f"temparature = {temperature}, 자료형: {type(temperature)}")
print(f"city = {city}, 자료형: {type(city)}")
print(f"is_string = {is_string}, 자료형: {type(is_string)}")
print(f"temperature 정수 변환: {int(temperature)}")

score = 90, 자료형: <class 'int'>
temparature = 1.2, 자료형: <class 'float'>
city = 서울, 자료형: <class 'str'>
is_string = False, 자료형: <class 'bool'>
temperature 정수 변환: 1

In [ ]:
#실습문제2
print(15 // 4) #몫
print(15 % 4) #나머지
print(2 ** 10) #제곱
print(10 > 5 and 3 > 7) #불리언(True 0r False)
print(not (5 == 5)) #불리언

3
3
1024
False
False

In [ ]:
#실습문제 input으로 이름/나이 받아 출력하기
name = input("이름을 입력하세요. ")
age = int(input("나이를 입력하세요. "))
year = int(input("태어난 해를 입력하세요. "))
print("===== 개인정보 =====")
print(f"이름: {name} \n나이: {age}세 \n태어난 해: {year}년")
print('=' * 18)

===== 개인정보 =====
이름: 홍길동
나이: 25세
태어난 해: 2001년
==================

In [ ]:
#practice 1
#실습문제 문자열 조작 연습 1.
text = "hello, WORLD!"
print(text.strip().lower()) #공백제거: strip

hello, world!

In [ ]:
#2.
text = "2024-01-15"
year, month, day = text.split("-") #각 변수에 저장 split
print(f"년: {year}, 월: {month}, 일: {day}")

년: 2024, 월: 01, 일: 15

In [8]:
#3
fruits = "apple banana cherry"
print(fruits.replace("banana","mango"))

apple mango cherry

In [ ]:
#4
text = "programming"
print(text[2:7]) #인덱싱

ogram

스텝2

In [22]:

#실습 2-1-1
score = int(input("점수를 입력하세요: "))
if score >= 90:
    grade = "A"
elif score >= 80:
    grade = "B"
elif score >= 70:
    grade = "C"
elif score >= 60:
    grade = "D"
else:
    grade = "F"


print(f"{score}점은 {grade}학점 입니다.")

78점은 C학점 입니다.

In [23]:
#실습 2-1-2
number = int(input("숫자를 입력하세요: "))

if number % 2 == 0:
    result = ("짝수입니다.")
elif number % 2 == 1:
    result = ("홀수입니다.")
elif number == 0:
    result = ("영(제로)입니다")

print(f"입력: {number} -> {number}은(는) {result}")

입력: 6 -> 6은(는) 짝수입니다.

In [ ]:
#반복 횟수가 정해져 있을 때
#리스트/문자열 등을 순회할 때
#for
#종료 조건은 있지만 횟수를 모를 때
#사용자 입력을 반복 받을 때
#while

In [32]:
#실습 2-2-1
i = 7
print("=== 7단 ===")
for a in range(1, 10):
    print(f"{i} x {a} = {i*a}")

=== 7단 ===
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63

In [33]:
#실습 2-2-2
answer = 0
for i  in range(1,101):
    answer += i
answer

5050